.card {
  border: 1px solid #f8f8f8;
  padding: 20px;
  width: 220px;
  border-radius: 40px;
  margin-right: 30px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2 ease-in-out;

  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.07);
    transform: translateY(-5px);
  }

  .favorite {
    position: absolute;
    cursor: pointer;
    height: 32px;
    width: 32px;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      outline: 3px solid #f6b0b0ad;
      border-radius: 10px;
    }

    &:active {
      opacity: 0.5;
      background-color: #c0f2e6;
    }
  }

  span {
    font-size: 13px;
    opacity: 0.5;
    text-transform: uppercase;
  }

  b {
    font-size: 13px;
  }

  .plus {
    height: 32px;
    width: 32px;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      outline: 3px solid #b0f6c8ad;
      border-radius: 10px;
    }

    &:active {
      opacity: 0.5;
      background-color: #c0f2e6;
    }
  }

}